@model GiftStack.Models.ViewModels.DetailsGift
@{
    ViewBag.Title = "View";
}

<div class="editButtons">
    <a href="/gift/list" class="button">Back to list</a>

</div>

<div class="selected-gift">
    <h2>@Model.SelectedGift.GiftName</h2>
    @if (Model.SelectedGift.IsGiftPurchaced)
    {


        <span>&#10003; This gift has already been purchased!</span>


        <div class="gift-location">
            @if (System.Uri.IsWellFormedUriString(Model.SelectedGift.GiftLocation, UriKind.Absolute))
            {
                <span>Gift was purchased from <a href="@Model.SelectedGift.GiftLocation" target="_blank">here.</a></span>
            }
            else
            {
                <span> Gift was purchased from @Model.SelectedGift.GiftLocation </span>
            }
        </div>

    }
    else
    {
        <span>This gift has not been purchased yet!</span>


        <div class="gift-location">
            @if (System.Uri.IsWellFormedUriString(Model.SelectedGift.GiftLocation, UriKind.Absolute))
            {
                <span>Get your gift from <a href="@Model.SelectedGift.GiftLocation" target="_blank"><strong>here.</strong></a></span>
            }
            else
            {
                <span>You can get this gift from @Model.SelectedGift.GiftLocation </span>
            }
        </div>
    }

    <div class="related-recipient">
        <span>
            This gift is for
            @foreach (var rec in Model.RelatedRecipient)
            {
                <a href="/recipient/details/@rec.RecipientId">@rec.RecipientName</a>
            }
        </span>
    </div>

    <div class="related-event">
        <span>
            To be given on
            @foreach (var eve in Model.RelatedEvent)
            {
                <a href="/event/details/@eve.EventId">@eve.EventName</a>
            }
        </span>
    </div>
    <span>
        <a href="/gift/deleteConfirm/@Model.SelectedGift.GiftId" class="DelButton">Delete</a>
        <a href="/gift/edit/@Model.SelectedGift.GiftId" class="button">Edit</a>
    </span>
    
</div>
