@model GiftStack.Models.ViewModels.UpdateGift

@{
    ViewBag.Title = "Edit";
}

<h2>
    Update @Model.SelectedGift.GiftName
</h2>

<form class="addForm" action="/gift/update/@Model.SelectedGift.GiftId" method="post">
    <div style="display:none;">
        <input type="number" name="GiftId" value="@Model.SelectedGift.GiftId"/>
    </div>
    <div>
        <label class="addLable" for="GiftName">Name:</label>
        <input class="textInput" type="text" id="GiftName" name="GiftName" value="@Model.SelectedGift.GiftName" />
    </div>
    <div>
        <label class="addLable" for="GiftLocation">Location:</label>
        <input class="textInput" type="text" id="GiftLocation" name="GiftLocation" value="@Model.SelectedGift.GiftLocation" title="Enter the store name or a valid link" />
    </div>
    <div>

        <label class="addLable" for="IsGiftPurchaced">Have You Purchased This Gift?</label>

        @if (Model.SelectedGift.IsGiftPurchaced)
        {


            <input class="checkInput" type="checkbox" id="IsGiftPurchaced" name="IsGiftPurchaced" value="True" checked />

        }
        else
        {
            <input class="checkInput" type="checkbox" id="IsGiftPurchaced" name="IsGiftPurchaced" value="True" />

        }
    </div>
    <div>
        <label class="addLable" for="RecipientId">Who's it for:</label>
        <select class="textInput" id="RecipientId" name="RecipientId">
            @foreach (var Recipient in Model.Recipient)
            {
                if (Recipient.RecipientName == Model.SelectedGift.RecipientName)
                {
                    <option selected="selected" value="@Recipient.RecipientId">@Recipient.RecipientName</option>

                }
                else
                {
                    <option value="@Recipient.RecipientId">@Recipient.RecipientName</option>

                }
            }
        </select>
    </div>
    <div>
        <label class="addLable" for="EventId">What event is it for:</label>
        <select class="textInput" id="EventId" name="EventId">
            @foreach (var Event in Model.Event)
            {
                if (Event.EventName == Model.SelectedGift.EventName)
                {
                    <option selected="selected" value="@Event.EventId">@Event.EventName</option>

                }
                else
                {
                    <option value="@Event.EventId">@Event.EventName</option>


                }
            }
        </select>
    </div>
    <div>
        <input class="submit-btn" type="submit" value="Update Gift" />
    </div>
</form>
