@model IEnumerable<GiftStack.Models.giftDto>
@{
    ViewBag.Title = "List";
}

    <h2>Your Gifts</h2>
    <p class="add-btn">
        <a href="/gift/new" class="add-a">&plus; Add New Gift</a>
    </p>
    <div class="gridContainer">
        @foreach (var gift in Model)
        {
            if (gift.IsGiftPurchaced)
            {
                <div class="list-ctn">
                    <div class="content">
                        <h3 class="giftname">@gift.GiftName</h3>
                        <p class="giftRelated"> <span class="giftLable">to:</span> @gift.RecipientName </p>
                        <p class="giftRelated"><span class="giftLable">for:</span> @gift.EventName</p>

                    </div>
                    <a href="/gift/details/@gift.GiftId">
                        <span class="li"></span>
                    </a>
                </div>
            }
            else
            {
            <div style="background-color: #d43939;" class="list-ctn">
                <div class="content">
                    <h3 class="giftname">@gift.GiftName</h3>
                    <p class="giftRelated"> <span class="giftLable">to:</span> @gift.RecipientName </p>
                    <p class="giftRelated"><span class="giftLable">for:</span> @gift.EventName</p>

                </div>
                <a href="/gift/details/@gift.GiftId">
                    <span class="li"></span>
                </a>
            </div>
            }
        }
    </div>
