@model GiftStack.Models.ViewModels.UpdateEvent

@{
    ViewBag.Title = "Edit";
}

<h2>
    Update @Model.SelectedEvent.EventName
</h2>

<form action="/event/update/@Model.SelectedEvent.EventId" method="post">
    <div style="display:none;">
        <input type="number" name="EventId" value="@Model.SelectedEvent.EventId" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="EventName" value="@Model.SelectedEvent.EventName" />
    </div>
    <div>
        <label>Date:</label> <input type="date" name="EventDate" value="@Model.SelectedEvent.EventDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label>Colour:</label> <input type="color" name="EventColor" value="@Model.SelectedEvent.EventColor" />
    </div>
    <div>
        <input type="submit" value="Update Event" />

    </div>
</form>