@model GiftStack.Models.ViewModels.UpdateEvent

@{
    ViewBag.Title = "Edit";
}

<h2>
    Update @Model.SelectedEvent.EventName
</h2>

<form class="addForm" action="/event/update/@Model.SelectedEvent.EventId" method="post">
    <div style="display:none;">
        <input type="number" name="EventId" value="@Model.SelectedEvent.EventId" />
    </div>
    <div>
        <label class="addLable" for="EventName">Name:</label> 
        <input class="textInput" type="text" name="EventName" value="@Model.SelectedEvent.EventName" />
    </div>
    <div>
        <label  class="addLable" for="EventDate">Date:</label> 
        <input  class="textInput" type="date" name="EventDate" value="@Model.SelectedEvent.EventDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label class="addLable" for="EventColor" >Colour:</label> 
        <input type="color" name="EventColor" value="@Model.SelectedEvent.EventColor" />
    </div>
    <div>
        <input class="submit-btn" type="submit" value="Update Event" />

    </div>
</form>