@model GiftStack.Models.ViewModels.DetailsRecipient
@{
    ViewBag.Title = "View";
}

<div class="editButtons">
    <a href="/recipient/list" class="button">Back to list</a>

</div>

<div class="selected-gift">
    <h2>@Model.SelectedRecipient.RecipientName</h2>
  
    <div class="related-gifts">
        
            <h3>Gifts for @Model.SelectedRecipient.RecipientName:</h3>
            @foreach (var gift in Model.GiftsRecived)
            {
                <span>
                    <a  href="/gift/details/@gift.GiftId">@gift.GiftName</a> for @gift.EventName <br /> <br />
                </span>
             
            }
       
    </div>

    <span>
        <a href="/recipient/deleteConfirm/ @Model.SelectedRecipient.RecipientId" class="DelButton">Delete</a>
        <a href="/recipient/edit/ @Model.SelectedRecipient.RecipientId" class="button">Edit</a>
    </span>

</div>



